* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("./resources/images/paper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Navbar */
#navbar-logo span {
  font-size: 100px;
}

#navbar-logo img {
  width: 50px;
}

#navigation-bar {
  background-color: 0;
  transition: top 0.3s;
  position: sticky;
  margin: 0;
  top: 0;
  z-index: 99;
  transition-timing-function: ease-in;
  transition: background 0.1s;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -ms-transition: background 0.1s;
  -o-transition: background 0.1s;
}

#navigation-bar a:hover {
  color: white;
  background-color: black;
}

.navbar-toggler {
  background-color: white;
}

.nav-link {
  color: black;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.nav-colored {
  background: rgb(59, 59, 59);
}

.nav-transparent {
  background: transparent;
}

/* Jumbotron */
#jumbotron {
  background: 0;
  margin: 0;
}

.jumbotron-typewrite {
  font-family: "Courier New", Courier, monospace;
}

.home-greeting {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 4rem;
  color: black;
}

.home-button {
  padding: 0.75rem 2rem;
  border: solid 1px black;
  border-radius: 0;
  font-size: 1.25rem;
  background: 0;
  font-weight: bold;
}

.home-button:hover {
  background-color: rgb(59, 59, 59);
  color: white;
  box-shadow: 0px 100px 100px 100vh rgba(59, 59, 59, 0.151);
}

/* Global section classes*/
.section-container {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.section-title {
  /* margin-bottom: 3rem; */
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
}

.section-title h3 {
  font-size: 2rem;
}

/* Projects */
/* Global projects classes */
#projects {
  background-color: 0;
  padding-bottom: 0;
}

#projects-section-title {
  /* text-decoration: underline; */
  color: rgb(255, 255, 255);
  background-color: rgb(59, 59, 59);
  padding: 1rem 0 1rem 0;
  margin-bottom: 0;
  border: 0;
}

.projects-collection-heading {
  padding: 4rem 0 2rem;
}

.project-card-title {
  color: black;
  background-color: rgb(233, 233, 233);
  padding: 1rem;
  font-weight: bold;
}

.project-card-description {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.project-card-button {
  margin: 0 auto 1rem;
  width: 50%;
  background-color: white;
  color: black;
  text-align: center;
}

.project-card-button:hover {
  background-color: black;
  color: white;
}

/* Bootcamp projects */
#bootcamp-section {
  background-color: rgb(255, 255, 255);
}

#bootcamp-heading {
  color: black;
  font-weight: bold;
}

.capstone-project-card {
  min-height: 100%;
  border: solid 2px rgb(182, 182, 182);
  border: 1px solid rgb(231, 231, 231);
}

.capstone-project-card-image {
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

/* FreeCodeCamp Projects */
#fcc-section {
  background-color: rgb(255, 255, 255);
  padding: 0 0 3rem 0;
}

#fcc-title {
  color: black;
  font-weight: bold;
}

.fcc-project-card {
  min-height: 100%;
  border: solid 2px rgb(182, 182, 182);
  transition: transform 0.25s, box-shadow 0.25s;
  border: 1px solid rgb(231, 231, 231);
}

.fcc-project-card-image {
  height: 20rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

/* About */
#about-card {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(0, 0, 0);
  transition: transform 0.25s, box-shadow 0.25s;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#about-card-heading {
  text-decoration: underline;
}

#about-profile-image {
  height: 15rem;
}

#about-content-view {
  width: 100%;
}

#overview {
  display: none;
  visibility: hidden;
}

#tech-stack {
  display: none;
  visibility: hidden;
}

.tech-stack-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tech-stack-container .flip-card {
  display: inline-block;
  margin: 20px 0;
}
.tech-stack-container .flip-card .card-container {
  margin: 0 auto;
  padding: 0 12px;
  perspective: 900px;
  text-align: center;
}
.tech-stack-container .flip-card .card {
  border: none;
  background: none;
  position: relative;
  width: 100px;
  height: 100px;
  transition: all 0.6s ease;
  transform-style: preserve-3d;
}
.tech-stack-container .flip-card .front,
.tech-stack-container .flip-card .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  color: black;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.tech-stack-container .flip-card .front {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.tech-stack-container .flip-card .front-img {
  width: 100%;
}
.tech-stack-container .flip-card .back {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.tech-stack-container .flip-card .back p {
  margin: 0;
}
.tech-stack-container .flip-card .card-container:hover .card {
  transform: rotateY(180deg);
}
.tech-stack-container .flip-card .back {
  transform: rotateY(180deg);
}

#personal-timeline {
  display: none;
  visibility: none;
}

.personal-timeline-container {
  min-height: 200px;
  padding: 0 15px 0 30px;
}
.personal-timeline-container .present-text:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-color: rgb(59, 59, 59);
  position: absolute;
}
.personal-timeline-container .timeline-content {
  background-color: #fff;
  padding: 10px 50px;
  font-size: 16px;
  border: 1px solid #ccc;
  margin: 20px 0 20px 20px;
}
.personal-timeline-container .timeline-content p {
  margin: 0;
}
.personal-timeline-container .timeline-content-container:before {
  content: "";
  display: block;
  width: 2px;
  min-height: 150px;
  background-color: #c7c7c7;
  position: absolute;
  margin-top: -85px;
  left: 64px;
}
.personal-timeline-container .timeline-content-container:nth-child(1):before {
  content: "";
  display: block;
  width: 2px;
  height: 100px;
  background-color: #c7c7c7;
  position: absolute;
  margin-top: -40px;
  left: 64px;
}
.personal-timeline-container .timeline-content:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: rgb(59, 59, 59);
  border: 3px solid #ddd;
  position: absolute;
  margin-top: 35px;
  left: 55px;
  z-index: 2;
}

/* Contact */
.contact-section {
  background-color: rgba(255, 255, 255, 0.712);
  /* border: 5px dashed rgb(190, 190, 190) */
}

#contact-section-heading {
  background-color: rgb(255, 255, 255);
}

#contact-section-title {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 1rem 0 1rem 0;
  margin-bottom: 0;
  border: 0;
  /* border-radius: 50% 50% 0 0; */
}

.contact-form-container {
  background-color: white;
  border-left: 1px solid rgb(199, 199, 199);
}

@media (max-width: 768px) {
  #contact-form-container {
    border: 1px solid rgb(199, 199, 199);
  }
}
#contact-form {
  background-color: rgb(255, 255, 255);
}

#contact-form-card {
  border: 0;
}

.form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.form-control:hover {
  border-color: inherit;
  box-shadow: none;
}

.form-control:focus {
  border-color: inherit;
  box-shadow: none;
}

#message {
  border: 1px solid rgb(219, 219, 219);
}

#message:hover {
  border: 1px solid rgb(219, 219, 219);
  border-color: inherit;
}

#message:focus {
  border: 1px solid rgb(219, 219, 219);
  border-color: inherit;
}

.contact-button {
  margin: 3rem auto 0;
  /* width: 50%; */
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
  border-color: rgb(168, 168, 168);
}

.contact-button:hover {
  background-color: black;
}

/* Footer */
#footer {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.footer-nav-links {
  margin-left: 1rem;
  margin-right: 1rem;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.footer-nav-links:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

#footer span {
  margin: 1rem;
  text-decoration: none;
}

#contact-links-section {
  margin-bottom: 1rem;
}

.contact-link-button {
  margin: 1rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.contact-link-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.typewrite > .wrap {
  border-right: 0.08em solid #fff;
}

#loading-screen {
  display: none;
}

.loading-screen-container {
  padding: 50px 0;
}
.loading-screen-container .spinner-grow {
  width: 20px;
  height: 20px;
}
.loading-screen-container .spinner-grow:nth-child(1) {
  animation-delay: 0.1s;
}
.loading-screen-container .spinner-grow:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-screen-container .spinner-grow:nth-child(3) {
  animation-delay: 0.3s;
}/*# sourceMappingURL=index.css.map */