* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("./images/paper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Navbar */

.navbar-logo {
  height: 40px;
  width: 40px;
  transition: transform .2s;
}

.navbar-logo:hover {
  transform: scale(1.25)
}

#navigation-bar {
  background-color: rgb(255, 255, 255);
  transition: top 0.3s;
  margin: 0;
  top: 0;
  padding: 0.25rem 2rem;
}

@media (max-width: 768px) {
  #navigation-bar {
    background-color: white;
  }
}


#navigation-bar a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#navigation-bar a:hover {
  color: rgb(172, 172, 172);

}

/* Jumbotron */

#jumbotron {
  background: 0;
  margin: 0;
}

.jumbotron-typewrite {
  font-family: 'Courier New', Courier, monospace;
}

.home-greeting {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 4rem;
  color: black;
}

.home-button {
  padding: 0.5rem 2rem;
  border: solid 1px black;
  border-radius: 5rem;
  font-size: 2rem;
  background: 0;

}

.home-button:hover {
  background-color: black;
  color: white;
  box-shadow: 0px 100px 100px 100vh rgba(59, 59, 59, 0.151);
  ;
}

/* Global section classes*/

.section-container {
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.section-title {
  margin-bottom: 3rem;
  text-decoration: underline;
}

.section-title h3 {
  font-size: 2rem;
}

/* About */


#about {
  background-color: 0;
  color: black;
  min-height: 100vh;
}

#about-card {
  background-color: rgba(0, 0, 0, 0.815);
  color: white;
  transition: transform 0.25s, box-shadow 0.25s;
  border: 0;
}

#about-card:hover {
  box-shadow: 0px 20px 50px rgb(0, 0, 0);
  transform: scale(1.05);
}

#about-card a {
  color: white;
}

#about-profile-image {
  height: 15rem;

}

/* Projects */

/* Global projects classes */

#projects {
  border-top: 4px dashed white;
  background-color: rgb(44, 44, 44);
  padding-bottom: 0;
}

#projects-section-title {
  text-decoration: underline;
  color: white;
}

.projects-collection-heading {
  padding: 4rem 0 2rem;
}

.project-card-title {
  color: black;
  background-color: rgb(233, 233, 233);
  padding: 1rem;
  font-weight: bold;
}

.project-card-description {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.project-card-button {
  margin: 0 auto 1rem;
  width: 50%;
  background-color: white;
  color: black;
  text-align: center;
}

.project-card-button:hover {
  background-color: black;
  color: white;
}


/* Bootcamp projects */

#bootcamp-section {
  background-color: rgb(230, 230, 230);
}

#bootcamp-heading {
  color: black;
  font-weight: bold;
}

.capstone-project-card {
  min-height: 100%;
  border: solid 2px rgb(182, 182, 182);
  transition: transform 0.25s, box-shadow 0.25s;
  border: 0;
}

.capstone-project-card:hover {
  box-shadow: 0px 20px 50px rgb(0, 0, 0);
  transform: scale(1.05);
}

.capstone-project-card-image {
  height: 20rem;
  object-fit: cover;
  object-position: 50% 50%;
}



/* FreeCodeCamp Projects */


#fcc-section {
  background-color: rgb(230, 230, 230);
  padding: 0 0 3rem 0;
}

#fcc-title {
  color: black;
  font-weight: bold;
}

.fcc-project-card {
  min-height: 100%;
  border: solid 2px rgb(182, 182, 182);
  transition: transform 0.25s, box-shadow 0.25s;
  border: 0;
}

.fcc-project-card:hover {
  box-shadow: 0px 20px 50px rgb(0, 0, 0);
  transform: scale(1.05);
}

.fcc-project-card-image {
  height: 20rem;
  object-fit: cover;
  object-position: 50% 50%;

}



/* Contact */


#contact {
  background-color: rgba(255, 255, 255, 0.301);
}

#contact-section-title {
  color: black;
}

#contact-form {
  background-color: white;
  padding: 3rem 2rem;
  width: 30rem;
  height: 100%;

}

.contact-button {
  margin: 3rem auto 0;
  width: 50%;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
  border-color: rgb(168, 168, 168);
}

.contact-button:hover {
  background-color: black;
}

#footer {
  background-color: rgb(255, 255, 255);
  color: black;
}

#footer span {
  margin: 1rem;
  text-decoration: none;
}

#contact-links-section {
  margin-bottom: 1rem;
}

.contact-link-button {
  margin: 1rem;
  color: black;
  text-decoration: none;
}

.contact-link-button:hover {
  color: white;
  background-color: black;
}