* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url("./images/paper.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/* Navbar */

#navbar-logo span {
  font-size: 100px;
}

#navbar-logo img {
  width: 50px;
}

#navigation-bar {
  background-color: 0;
  transition: top 0.3s;
  position: absolute;
  margin: 0;
  top: 0;
}

.navbar-toggler {
  background-color: white;
}

#navigation-bar a {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navigation-bar a:hover {
  background-color: black;
  color: white;

}

/* Jumbotron */

#jumbotron {
  background: 0;
  margin: 0;
}

.jumbotron-typewrite {
  font-family: 'Courier New', Courier, monospace;
}

.home-greeting {
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 4rem;
  color: black;
}

.home-button {
  padding: 0.75rem 2rem;
  border: solid 1px black;
  border-radius: 0;
  font-size: 1.25rem;
  background: 0;
  font-weight: bold;

}

.home-button:hover {
  background-color: black;
  color: white;
  box-shadow: 0px 100px 100px 100vh rgba(59, 59, 59, 0.151);
  ;
}

/* Global section classes*/

.section-container {
  padding-top: 4rem;
  padding-bottom: 5rem;

}

.section-title {
  /* margin-bottom: 3rem; */
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;


}

.section-title h3 {
  font-size: 2rem;
}

/* Projects */

/* Global projects classes */

#projects {
  background-color: 0;
  padding-bottom: 0;
}

#projects-section-title {
  /* text-decoration: underline; */
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 1rem 0 1rem 0;
  margin-bottom: 0;
  border-radius: 50% 50% 0 0;
}

.projects-collection-heading {
  padding: 4rem 0 2rem;
}

.project-card-title {
  color: black;
  background-color: rgb(233, 233, 233);
  padding: 1rem;
  font-weight: bold;
}

.project-card-description {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
}

.project-card-button {
  margin: 0 auto 1rem;
  width: 50%;
  background-color: white;
  color: black;
  text-align: center;
}

.project-card-button:hover {
  background-color: black;
  color: white;
}

/* Bootcamp projects */

#bootcamp-section {
  background-color: rgb(255, 255, 255);
}

#bootcamp-heading {
  color: black;
  font-weight: bold;
}

.capstone-project-card {
  min-height: 100%;
  border: solid 2px rgb(182, 182, 182);
  border: 1px solid rgb(231, 231, 231);
}

.capstone-project-card-image {
  height: 20rem;
  object-fit: cover;
  object-position: 50% 50%;
}

/* FreeCodeCamp Projects */

#fcc-section {
  background-color: rgb(255, 255, 255);
  padding: 0 0 3rem 0;
}

#fcc-title {
  color: black;
  font-weight: bold;
}

.fcc-project-card {
  min-height: 100%;
  border: solid 2px rgb(182, 182, 182);
  transition: transform 0.25s, box-shadow 0.25s;
  border: 1px solid rgb(231, 231, 231);
}

.fcc-project-card-image {
  height: 20rem;
  object-fit: cover;
  object-position: 50% 50%;
}

/* About */

#about-card {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  transition: transform 0.25s, box-shadow 0.25s;
  border: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#about-card-heading {
  text-decoration: underline;
}

#about-profile-image {
  height: 15rem;
}

.volleycentral-button {
  border: solid 1px black;
  border-radius: 0;
  background: 0;
  font-weight: bold;
}

.volleycentral-button:hover {
  background-color: black;
  color: white;
}

.volleycentral-link:hover {
  text-decoration: none;
}

/* Contact */

.contact-section {
  background-color: rgb(255, 255, 255);
  /* border: 5px dashed rgb(190, 190, 190) */
}

#contact-section-title {
  color: rgb(255, 255, 255);
  background-color: black;
  padding: 1rem 0 1rem 0;
  margin-bottom: 0;
  border-radius: 50% 50% 0 0;
}

.contact-form-container {
  background-color: white;
  border-left: 1px solid rgb(199, 199, 199);

}

@media (max-width: 768px) {
  #contact-form-container {
    border: 1px solid rgb(199, 199, 199);
  }
}

#contact-form {
  background-color: rgb(255, 255, 255);

}

.form-control {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.form-control:hover {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#message {
  border: 1px solid rgb(219, 219, 219)
}

#message:hover {
  border: 1px solid rgb(219, 219, 219);
  border-color: inherit;
}

#message:focus {
  border: 1px solid rgb(219, 219, 219);
  border-color: inherit;
}


.contact-button {
  margin: 3rem auto 0;
  /* width: 50%; */
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
  border-color: rgb(168, 168, 168);
}

.contact-button:hover {
  background-color: black;
}

#footer {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.footer-nav-links {
  margin-left: 1rem;
  margin-right: 1rem;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.footer-nav-links:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-bottom: 2px solid rgb(0, 0, 0);
}

#footer span {
  margin: 1rem;
  text-decoration: none;
}

#contact-links-section {
  margin-bottom: 1rem;
}

.contact-link-button {
  margin: 1rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.contact-link-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}